body {
    margin: 20px;
    font-family: Georgia, Bureau, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 20px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #CDB4DB;
    color: #2b2839;
    border-bottom: 10px solid #FFC8DD;
    border-radius: 20px;
}

